<h1>Ingresar datos</h1>

<form action="/" method="post">

        <div class="mb-3">
          <div id="emailHelp" class="form-text">Carga de productos</div>
          <label for="producto" class="form-label">Producto</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Descripcion</label>
          <input type="text" class="form-control" id="exampleInputPassword1">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Codigo</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Imagen</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Precio</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Stock</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>

        <div class="mb-3 form-check">
          <input type="text" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
</form>